<!--=== Flex Slider Start ======-->
<section class="pt-0 pb-0" id="home">
  <div class="slider-bg flexslider">
    <ul class="slides">
      <!--=== SLIDE 1 ===-->
      <li>
        <div class="slide-img" style="background:url(<%= asset_path 'burger1.jpg' %>) center center / cover scroll no-repeat;" data-stellar-background-ratio="0.2"></div>
        <div class="hero-text-wrap">
          <div class="hero-text white-color">
            <div class="container text-center">
              <h2 class="text-uppercase font-400 source-font">Digital Burgers</h2>
              <h1 class="text-uppercase font-700">FIND THE BEST BURGERS</h1>
              <h3 class="font-400">Good burgers are delicious.</h3>
              <p class="text-center mt-30">
                <a class="btn btn-color btn-circle btn-animate"><span>Find Burgers <i class="mdi mdi-arrow-right"></i></span></a>
                <!-- <a class="btn btn-outline-white btn-circle">Contact Us</a> </p> -->
            </div>
          </div>
        </div>
      </li>
      <!--=== SLIDE 2 ===-->
      <li>
        <div class="slide-img" style="background:url(<%= asset_path 'burger2.jpg' %>) center center / cover scroll no-repeat;" data-stellar-background-ratio="0.2"></div>
        <div class="hero-text-wrap">
          <div class="hero-text white-color">
            <div class="container text-center">
              <h2 class="text-uppercase font-400 source-font">Digital Burgers</h2>
              <h1 class="text-uppercase font-700">FIND THE BEST BURGERS</h1>
              <h3 class="font-400">Good burgers are delicious.</h3>
              <p class="text-center mt-30">
                <a class="btn btn-color btn-circle btn-animate"><span>Find burgers <i class="mdi mdi-arrow-right"></i></span></a>
                <!-- <a class="btn btn-outline-white btn-circle">Our Services</a>  -->
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<!--=== Flex Slider End ======-->
