<nav class="navbar-scrollspy navbar navbar-default navbar-fixed white bootsnav on no-full navbar-transparent" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">
    <div class="container">
      <!--=== Start Atribute Navigation ===-->
      <div class="attr-nav">
        <ul class="social-media-dark social-top">
          <li><a href="#" class="fa fa-facebook"></a></li>
          <li><a href="#" class="fa fa-twitter"></a></li>
          <li><a href="#" class="fa fa-linkedin-square"></a></li>
        </ul>
      </div>
      <!--=== End Atribute Navigation ===-->

      <!--=== Start Header Navigation ===-->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="fa fa-bars"></i> </button>
        <div class="logo"><a href="index.html"> <img class="logo logo-display" src="<%= asset_path 'logo-white.png' %>" alt=""> <img class="logo logo-scrolled" src="<%= asset_path 'logo-black.png' %>" alt=""> </a> </div>
      </div>
      <!--=== End Header Navigation ===-->

      <!--=== Collect the nav links, forms, and other content for toggling ===-->
      <div class="navbar-collapse collapse" id="navbar-menu" aria-expanded="false">
        <ul class="nav navbar-nav navbar-right nav-scrollspy-onepage" data-in="fadeInLeft">
          <li class="scroll"><a href="#home">Home</a></li>
          <li class="scroll"><a href="#about">About</a></li>
          <li class="scroll"><a href="#service">Services</a></li>
          <li class="scroll"><a href="#team">Team</a></li>
          <li class="scroll"><a href="#work">Work</a></li>
          <li class="scroll"><a href="#pricing">Pricing</a></li>
          <li class="scroll"><a href="#contact">Contact Us</a></li>
        </ul>
      </div>
      <!--=== /.navbar-collapse ===-->
    </div>
  </nav>
  <!--=== Header End ======-->
